 <div id="post-full-{{_id}}" class="post-full">
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <div>
        {{#each tags}}
            {{> tag}}
        {{/each}}
    </div>
    <p class="subtext">Posted {{formatDate date}} by {{author.username}}</p>
 </div>