<div id="post-{{_id}}" class="post-min" data-post-id="{{_id}}">
    <h3>{{title}}</h3>
    <div>
        {{#each tags}}
            {{> tag}}
        {{/each}}
    </div>
    <p class="subtext">Posted {{formatDate date}} by {{author.username}}</p>
</div>
{{> decrypt-modal}}